header {
background-color: lightblue;
color: white;
padding: 20px;
grid-area: header;
}
nav {
background-color: yellow;
grid-area: nav;
}
main {
background-color: white;
color: white;
grid-area: main;
}
aside {
background-color: lightgreen;
grid-area: aside;
}
footer {
background-color: darkgreen;
color: white;
grid-area: footer;
